*~
*.pyc
doc/_build
build
dist
qit.egg-info
.idea
examples/*ipynp*
*.egg-info*
.coverage
coverage_html_report/*
notebooks/*
examples/.ipynb_checkpoints/*
.pytest_cache/*
pytest/.pytest_cache/
doc/tutorials_apps/*
examples_apps/*.html
doc/_static/thumbs/*
!doc/_static/code.png
.vscode/settings.json
.ipynb_checkpoints