*~
*.pyc
doc/_build
build
dist
qit.egg-info
.idea
examples/*ipynp*
*.egg-info*
.coverage
coverage_html_report/*
notebooks/*
examples/.ipynb_checkpoints/*
.pytest_cache/*
pytest/.pytest_cache/
doc/tutorials/images
doc/tutorials/index.rst
doc/tutorials/run_*
doc/tutorials/sg_execution_times.rst
*.zip
