[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
networkx = ">=2.0"
numpy = ">=1.16.3"
scipy = ">=1.0.0"
tensorflow = "==2.0"
tensorflow-tensorboard = ">=0.1.8"
quantum-blackbird = "*"
thewalrus = ">=0.7"
toml = "*"
appdirs = "*"

[requires]
python_version = "3.7"
