numpy
scipy
sympy
tensorflow
tensorboard
networkx
quantum-blackbird
python-dateutil
https://github.com/XanaduAI/thewalrus/suites/4343041497/artifacts/114559088
toml
appdirs
numba
requests
urllib3
plotly
