antlr4-python3-runtime==4.7.2
numpy>=1.17.4
sympy>=1.5
tensorflow>=2.0
tensorboard>=2.0
networkx>=2.0
quantum-blackbird==0.2.3
python-dateutil==2.8.0
http://xanadu-wheels.s3-website-us-east-1.amazonaws.com/thewalrus-0.13.0.dev0+20200527003218-cp36-cp36m-manylinux2010_x86_64.whl
toml
appdirs
numba>=0.48.0
requests==2.22.0
urllib3==1.25.3
plotly==4.4.1
