numpy>=1.17.4
scipy>=1.0.0
sympy>=1.5
networkx>=2.0
quantum-blackbird>=0.2.0
https://xanadu-wheels.s3.amazonaws.com/thewalrus-0.11.0.dev0%2B20200129152745-cp36-cp36m-manylinux1_x86_64.whl
numba>=0.48.0
toml
appdirs
tensorflow==1.3
tensorflow-tensorboard>=0.1.8
plotly==4.4.1
