numpy
scipy
sympy
tensorflow
tensorboard
networkx
quantum-blackbird
python-dateutil
thewalrus @ git+https://github.com/xanaduai/thewalrus@bump-version-2025-05-14
toml
numba
requests
setuptools
urllib3
plotly
