docutils==0.16
appdirs
ipykernel
sphinx==2.2.2
m2r
numba==0.53.1
networkx>=2.0
numpy>=1.19.2
plotly
quantum-blackbird
scipy>=1.0.0
sklearn
sphinx-autodoc-typehints==1.10.3
sphinx-copybutton
sphinx-automodapi
sphinxcontrib-bibtex==0.4.2
tensorflow==2.6.1
thewalrus>=0.17.0
toml
