docutils==0.16
black==19.10b0
ipykernel==6.7.0
jinja2==3.0.3
sphinx==2.2.2
m2r2==0.3.1
mistune==2.0.3
numba==0.53.1
networkx==2.6.3
numpy==1.19.2
plotly==4.4.1
protobuf<4.21.0  # remove when fix is released
quantum-blackbird==0.4.0
scipy==1.7.1
scikit-learn==1.0.2
sphinx-autodoc-typehints==1.10.3
sphinx-copybutton==0.4.0
sphinx-automodapi==0.13
sphinxcontrib-bibtex==0.4.2
tensorflow==2.6.3
thewalrus==0.18.0
toml==0.10.2
xanadu-sphinx-theme==0.1.0
