name: "Documentation check"
on:
- pull_request

jobs:
  sphinx:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: XanaduAI/sphinx-action@master
      with:
        docs-folder: "doc/"
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        pre-build-command: "apt install -y graphviz && pip3 install -r requirements.txt && pip3 install ."
        build-command: "sphinx-build -b html . _build -W --keep-going"
